{% extends "base.html" %}
{% block content %}
<form action="Flight-Search" method="get" name="flight-search">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col sm">
            <div class="form-group">
                <label for="flying-from">Flying from</label>
                <input type="text" class="form-control" id="flying-from" name="fromLocation"
                       aria-describedby="emailHelp" placeholder="Enter source">
                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
        </div>

        <div class="col sm">
            <!--{{ form.flying_to }}-->
            <div class="form-group">
                <label for="flying-to">Flying To</label>
                <input type="text" class="form-control" id="flying-to" name="toLocation"
                       placeholder="Enter destination">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col sm">
            <div class="form-group">
                <label for="departure-date">Expected Departure</label>
                <input type="date" class="form-control" id="departure-date" name="startDate"
                       placeholder="Pick departure date">
            </div>
        </div>

        <div class="col sm">
            <div class="form-group">
                <label for="arrival-date">Expected Arrival</label>
                <input type="date" class="form-control" id="arrival-date" name="endDate"
                       placeholder="Pick arrival date">
            </div>
        </div>
    </div>

    <!--<div class="form-check">-->
    <!--<label class="form-check-label">-->
    <!--<input type="checkbox" class="form-check-input">-->
    <!--Check me out-->
    <!--</label>-->
    <!--</div>-->
    <button type="submit" class="btn btn-primary">Search</button>
</form>
{% endblock %}